// SASS file for the CJBougie app
// This file is used to define the styles for the app

// Imports
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Corinthia:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Corinthia:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

// Variables

// Fonts
$font-primary: "Baloo Bhaina 2", cursive;
$font-secondary: "Playfair Display", serif;
$font-caligraph: "Corinthia", cursive;

// Colors
$white: #ffffff;
$grey: #9fafb9;
$navbar-top-color: #1b2c13;
$pink: #ad49e1;
$pink-light: #ebd3f8;
$dark-mode-light: #3c3d37;
$dark-mode-dark: #1e201e;
$dark-mode-white: #ecdfcc;

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;

  font-family: $font-primary;
  overflow-x: hidden;
}

Link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a,
a:visited,
a:active,
a:focus {
  color: black;
  text-decoration: none;
}

// Navbar Styles
// This is the main navbar for the app
.navbar {
  background-color: #969696;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: $grey 1px solid;

  // This is the top part of the navbar
  &__top {
    width: 100%;
    height: 2.3rem;
    background-color: $navbar-top-color;
    color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-weight: 500;
  }
  // This is the bottom part of the navbar
  &__bottom {
    width: 100%;
    height: 4rem;
    background-color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-weight: 500;
  }

  // This is the top part text of the navbar
  &__top__text {
    &:hover {
      cursor: pointer;
    }
  }

  // This is the bottom part elements of the navbar
  &__bottom__boxes {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__bottom__boxes__menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__bottom__boxes__menuImage {
    margin-left: 1rem;
    margin-right: 0.7rem;
    &:hover {
      cursor: pointer;
    }
  }

  &__bottom__boxes__center {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    &:hover {
      cursor: pointer;
    }
  }
  &__bottom__boxes__centerTitle {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 500;
  }
  &__bottom__boxes__centerSubtitle {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-family: $font-caligraph;
    font-weight: 700;
  }

  &__bottom__boxes__icones {
    width: 100%;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  &__bottom__boxes__iconesButton {
    margin-left: 1rem;
    margin-right: 0.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
  }
  &__bottom__boxes__iconesSpan {
    background: #c5c4c4;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
}

#navbar_icone_cart {
  margin-right: 0.4rem;
}

// This is the footer content of the app
.footer {
  width: 100%;
  height: auto;
  margin-top: auto;

  &__guarantees__boxes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    border: $grey 1px solid;
    padding-top: 0.7rem;
  }
  &__guarantees__box {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  &__guarantees__title {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: $font-primary;
  }
  &__guarantees__text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: $font-primary;
    text-align: center;
  }

  &__other {
    width: 100%;
    height: auto;
    background: $navbar-top-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2.7rem;
  }
  &__other__boxes {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  &__other__title {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: $font-primary;
    color: $white;
  }
  &__other__text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: $font-primary;
    text-align: center;
    color: $white;
  }
  &__sitemakersign {
    width: 100%;
    height: auto;
    background: $navbar-top-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__sitemakername {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: $font-primary;
    text-align: center;
    color: $white;
  }
}

// Index Styles
// This is the main index page for the app
.index {
  width: 100%;
  height: auto;
  // This is the Carousel section of the index page
  &__carousel {
    width: 100vw;
    height: 92vh;
    overflow: hidden;
    margin-bottom: 2.5rem;
  }
  &__carousel__swiper {
    width: 100vw;
    height: 92vh;
  }
  &__carousel__swiper__img {
    width: 100vw;
    height: 92vh;
    object-fit: cover;
    display: block;
  }
  &__carousel__swiper__title {
    position: absolute;
    z-index: 2;
    color: $white;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    font-size: 3rem;
    font-family: $font-secondary;
    text-shadow: #333 1px 1px 2px;
  }
  &__carousel__swiper__subtitle {
    position: absolute;
    z-index: 2;
    color: $white;
    left: 0;
    right: 0;
    top: 57%;
    transform: translateY(-50%);
    text-align: center;
    width: 80%;
    font-size: 1.2rem;
    font-weight: 700;
    text-shadow: #333 1px 1px 2px;

    margin: auto;
  }
  &__carousel__swiper__button {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 67%;
    transform: translateY(-50%);
    text-align: center;
    width: 7%;
    font-size: 1.4rem;
    font-family: $font-primary;
    margin: auto;
    background: $white;
    border: $navbar-top-color 1px solid;
    border-radius: 3px;
    padding: 3px;

    &:hover {
      cursor: pointer;
    }
  }

  // This is the BestSellers section of the index page
  &__bestsellers {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  &__bestsellers__title {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    font-family: $font-secondary;
    margin-bottom: 2rem;
  }
  &__bestsellers__boxes {
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__bestsellers__box {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__bestsellers__box__img {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    object-fit: fill;
  }
  &__bestsellers__nameAndPrice {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.3rem;
  }
  &__bestsellers__name {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 700;
  }

  // This is the Products section of the index page
  &__products {
    width: 57%;
    margin: auto;
    margin-bottom: 2rem;
  }
  &__products__boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    width: 100%;
  }
  &__products__box {
    position: relative;
    flex: 1 1 46%; // 2 par ligne avec gap (ajuste à 48% si tu veux moins d'espace)
    max-width: 48%;
    min-width: 200px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.2); // noir, opacité 40%
      z-index: 1;
    }
  }
  &__products__img {
    position: relative;
    width: 100%;
    height: 550px;
    object-fit: cover;
    display: block;
    z-index: 0;
  }

  &__products__title {
    position: absolute;
    z-index: 2;
    color: $white;
    left: 0;
    right: 0;
    top: 75%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    font-size: 3rem;
    font-family: $font-secondary;
    text-shadow: #333 1px 1px 2px;
  }
  &__products__subtitle {
    position: absolute;
    z-index: 2;
    color: $white;
    left: 0;
    right: 0;
    top: 89%;
    transform: translateY(-50%);
    text-align: center;
    width: 80%;
    font-size: 0.9rem;
    font-weight: 700;
    text-shadow: #333 1px 1px 2px;

    margin: auto;
  }

  // This is the Story section of the index page
  &__story {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4.7rem;
    padding-bottom: 3.2rem;
    border-bottom: $grey 1px solid;
  }
  &__story__title {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.7rem;
    font-weight: 700;
    font-family: $font-secondary;
    margin-bottom: 2rem;
  }
  &__story__text {
    width: 40%;
    height: 10%;
    font-size: 2.7rem;
    font-weight: 300;
    font-family: $font-caligraph;
    margin-bottom: 2rem;
    color: $grey;
    text-align: center;
  }
}

// Register Styles
// This is the main register page for the app
.register,
.login {
  width: 100%;
  height: 61.3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1.4rem;

  &__title {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.7rem;
    font-weight: 600;
    font-family: $font-secondary;
  }
  &__subtitle {
    width: 40%;
    height: auto;
    font-size: 1.2rem;
    font-weight: 200;
    font-family: $font-primary;
    margin-bottom: 2rem;
    color: $grey;
    text-align: center;
  }
  &__form {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  &__box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.3rem;
  }
  &__select {
    width: 100%;
    height: 2.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.3rem;
    padding: 13px 20px 10px 4px;
    font-size: 1rem;
  }
  &__input {
    width: 46%;
    height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.3rem;
    padding: 0.3rem;
  }
  &__button {
    width: 100%;
    height: 2.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.3rem;
    background-color: $navbar-top-color;
    color: $white;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: $font-primary;
    transition: all 0.3s ease-in-out;
    border: none;

    &:hover {
      cursor: pointer;
      background: lighten($navbar-top-color, 10%);
      transition: all 0.3s ease-in-out;
    }
  }
  &__text {
    width: 25%;
    height: auto;
    background: lighten($grey, 17%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 200;
    font-family: $font-primary;
    margin-top: 0.3rem;
    padding: 0.2rem;
  }
  &__link {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 200;
    font-family: $font-primary;
    color: darken($grey, 40%);
    margin-top: 0.3rem;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

#email,
#mdp_login {
  width: 100%;
}

// Dashboard Styles
.dashboardNav {
  position: fixed;
  left: 0;
  top: 0;
  width: 7%;
  height: 100vh;
  z-index: 200;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background: $dark-mode-light;

  &__top {
    width: 80%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: $font-primary;
    color: $white;
    border-bottom: $pink-light 2px solid;
  }
  &__logo {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 500;
    font-family: $font-primary;
    color: $pink-light;
    text-align: center;
    text-shadow: #333 3px 2px 2px;
  }
  &__content {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: auto;
  }
  &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: $font-primary;
    color: $white;
    transition: all 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      scale: 1.1;
      transition: all 0.3s ease-in-out;
    }
  }
  &__bottom {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
  }
}

.dashboardHome {
  width: 100%;
  height: 100vh;
  margin-left: 7%;
  padding-left: 7%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: $dark-mode-dark;
  padding-top: 2rem;
  color: $dark-mode-white;
  &__top {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    width: 100%;
    height: 50%;
    font-size: 2.7rem;
    font-weight: 500;
    font-family: $font-primary;
  }
  &__date {
    width: 100%;
    height: 25%;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: $font-primary;
    padding-left: 0.4rem;
  }
  &__content {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
  &__content__box {
    width: 37%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    margin-bottom: 2rem;
    background: $dark-mode-light;
    border-radius: 10px;
    padding: 1rem;
    border: $dark-mode-white 2px solid;
    transition: all 0.1s ease-in-out;

    &:hover {
      cursor: pointer;
      scale: 1.01;
      border: $pink-light 2px solid;
      box-shadow: $pink-light 0px 2px 8px 0px;
      transition: all 0.1s ease-in-out;
    }
  }
  &__content__title {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: $font-primary;
  }
  &__content__value {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: $font-primary;
  }
  &__content__pieBox {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#lastOrders,
#bestSellers {
  height: 40%;
}

